@tailwind base;
@tailwind components;
@tailwind utilities;


#root,
body,
html {
  @apply bg-customBg;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch !important;
  max-width: 1580px;
  width: 100% !important;
  margin: 0 auto !important;
  padding: 0 !important;
  font-family: 'proxima-nova', sans-serif;
  /* font-family: 'Aspekta', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

@keyframes gradient-fill {
  0% {
    background-size: 0% 100%;
  }
  100% {
    background-size: 100% 100%;
  }
}

.animate-gradient-fill {
  background-size: 0% 100%;
  animation: gradient-fill 2s ease-in-out forwards;
}
